.fullscreen{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #000;
}
.webcom{
    width: 100%;
    height: 80vh;
}
.btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}
.camimg{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #666;
    color: #666;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camimg .img{
    width: 100%;
    height: 100%;
}